* {
    margin: 5;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

h1 {
    text-align: center;
    margin-bottom: 15px;
    font-size: 24px;
    font-weight: bold;
}

form {
    min-width: 300px;
    max-width: 500px;
    margin: 20px auto;
    padding: 20px;
    border: 2px solid rgb(238, 235, 235);
    border-radius: 8px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    background-color: rgb(242, 237, 237);
}

label {
    display: block;
    font-weight: bold;
    margin-top: 10px;
    color: rgb(42, 40, 40);
}

input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid rgb(191, 188, 188);
    border-radius: 5px;
    font-size: 14px;
}

input:focus {
    outline: none;
    border-color: rgb(29, 29, 222);
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

input[type="submit"] {
    margin: 20px auto 0 auto;
    width: 100%;
    background-color: rgb(28, 75, 176);
    color: white;
    border: none;
    padding: 12px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s;
}

input[type="submit"]:hover {
    background-color: rgb(24, 53, 198);
}

input[type="date"] {
    appearance: none;
    -webkit-appearance: none;
}

/* Centering the logo */
.logo-container {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    width: 100%; 
    margin-top: 20px; 
    margin-bottom: 20px; 
}

/* Resize the logo */
.logo-container img {
    max-width: 200px; 
    height: auto;
}

select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid rgb(191, 188, 188);
    border-radius: 5px;
    font-size: 14px;
    background-color: #f8f8f8;
    transition: all 0.2s ease-in-out;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: pointer;
}

/* Focus Effect */
select:focus {
    outline: none;
    border-color: rgb(29, 29, 222);
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

label[for="00NHr00001UFbTo"] {
    display: block;
    font-weight: bold;
    margin-top: 10px;
    color: rgb(42, 40, 40);
}